#outstandingcont {
    display: flex;
    flex-direction: column;
    margin-left: -4.7%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    height: 93%;
    width: 90%;
    z-index: 0;
}

.outstandingcontcont {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.outstanding-logo {
    display: flex;
    width: 35px;
    height: auto;
}

.line-break {
    color: red;
}

#outstanding1,
#outstanding2,
#outstanding3 {
    display: flex;
    height: 35px;
    overflow: hidden;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.0rem;
    color: #ffffff;
    text-align: left;
    text-transform: ;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

#outstanding1.show::before {
    content: "Tramadol\A Wow";
    white-space: pre;
}
#outstanding2.show::before {
    content: "Paracetamol";
}
#outstanding3.show::before {
    content: "Ibuprofen";
}



